html {
    background: rebeccapurple;
}

.visual-container {
    max-width: 100vw;
}

.audio-container {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}