.c-banner {
    &__title {
        color: c(heading, title);
        font-weight: $font-weight-normal;
    }

    &__subtitle {
        margin-bottom: ms(0.5, rem);
    }

    &__stinger {
        @include typography-smoothing(light-on-dark);
        @include typography-tracking(loose);

        color: c(link, base);
        text-transform: uppercase;
        font-size: ms(0.5, em);
    }
}
