.l-banner {
    padding: ms(1);

    background-color: #4a4a4a;

    color: white;
    text-align: center;

    // &::after {
    //     @include generate-triangle(6em, black, down);
    //     content: "";
    // }
}
