// ============================================================================
// Layout
// Main
// ============================================================================


// Layout Logic ---------------------------------------------------------------



// Layout Styling -------------------------------------------------------------
.l-main {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: center;
    align-items: center;

    background-color: c(background, main);
}
